@font-face {
  font-family: 'lemon_milk_pro_regular_webfont'; /* Give your font a name */
  src: url('./fonts/lemon_milk_pro_regular_webfont.woff') format('woff'); /* Correct path to your font file */
  font-weight: normal;
  font-style: normal;
}